@font-face {
    font-family: qart;
    src: url(Fotola/src/asomtavr.ttf);
}
*{
    font-family: qart;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}
body, .main .box {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c8/Altja_j%C3%B5gi_Lahemaal.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
li, a {
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    background-color: #333438;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-bottom: 2px;
    border-color: rgba(95, 95, 95, 0.5);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 145px;

    
}
header, nav, li, ul, nav{
    background-image: linear-gradient(#202125,#333438);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 10;
}
nav {
    width: fit-content;
    margin-left: 20px;
}
.nav header{
    box-shadow: 0px 0px 4px 2px black;
}
  
.fotola {
    cursor: pointer;
    justify-content: center;
    margin: 0;
    transition: 0.30s ease-out ;
    width: 125px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
.fotola:hover {
    background-color: #64D1E1;
    border-radius: 30%;
    
}
.nav_links{
    width: fit-content;
    list-style: none;
    margin-left: 20px;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
    display: inline-block;
    position: relative;
    background-color: #202125;
    border-radius: 10px;
    padding: 6px 10px 6px 10px;
    margin-bottom: 2px;
}
.nav_links li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -1.5px;
    left: 0;
    background-color: #16c410;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.nav_links li a:hover {
    background-color: #333438;
    color: #16c410;
}
  
.nav_links li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.footer {
    justify-content: end;
    background-color: #202125;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px ;
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    width: 100%; 
    z-index: 10;
}
.navback {
    background-color: yellow!important;
    margin-bottom: 1px;
    z-index: 11;
    width: 100%;
}
.last {
    box-shadow: 0 0 0 0;
}
.main {
    display: flex;
    height: 500px;
    position: relative;
}
.testdiv {
    position: relative;
    display: flex; /* Use flex display to place divs side by side */
    flex-wrap: wrap; /* Wrap divs to the next row if the screen is too small */
    gap: 10px; /* Add some spacing between divs */
    margin: 10px;
    background-color: rgba(236, 230, 61, 0.7);
    width: 300px;
    height: fit-content;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 8px 20px 2px;
    transition: 0.25s ease-out ;
    justify-content: center;
}
.testdiv h2, .testdiv a {
    background-color: rgba(0, 135, 202, 0);
    font-family: qart;
    color: black;
    margin-top: 10px;
    font-size: 25px;
}
.testdiv a:hover {
    text-decoration: underline;
    
}
.testdiv img {
    position: relative;
    width: 150px;
    height: fit-content;
    border-radius: 30%;
    border: 2px solid;

}
.testdiv:hover {
  cursor: pointer;
  background-color: rgba(236, 230, 61, 0.8);
  box-shadow: 0 0 15px 4px rgba(236, 230, 61, 0.5);
}
.testdiv {
    flex: 1;
}